*{box-sizing: border-box;
	font-family: system-ui;
    }

@media (min-width: 992px){
	div {margin:1%; 
		width: 31%;
		float: left;}
}

@media (min-width: 768px) and (max-width: 991px){
	#Chicken, #Beef {width: 48%;
		      float:left;
		      margin-bottom: 4%;
	          }

	#Chicken {margin-right: 4%;}



	#Sushi {clear: both;
	}
}


@media (max-width: 767px){
	div {margin-bottom: 2%;}
}
 
h1{text-align: center;
	font-size: 175%;
}

div{border: 1px solid 	#000000;
	background-color: #D3D3D3;
}

div>h2 {text-align: right;
	    font-size: 125%;
	    margin: 0;
	    padding: 5px;
	    border: 1px solid #000000;
}

div>p {padding: 10px;
       font-size: 100%;
       clear: right;
}

.Chicken{background-color:#E9967A;
         float: right; 
}

.Beef{background-color:#DC143C;
      color: #FFFFFF;
      float: right;
}

.Sushi{background-color:#F0E68C;
	    float: right;
}
